/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 5rem;

    /*========== Colors ==========*/
    --primary-color: #4754EB;
    --body-color: #FFFFFF;
    --menu-background-color: rgba(255, 255, 255, 0.65);
    --background-color: rgba(255, 255, 255, 0.5);
    --text-color-white: #FFFFFF;
    --text-color-gray: #808080;
    --text-color-grayer: #595959;
    --text-color-black: #1A1A1A;
    --heading-color-black: #1A1A1A;
    --btn-hover-color: #3c4cfe;

    /*========== Font and typography ==========*/
    --body-font: 'Roboto Mono', sans-serif;

    /*========== Font size ==========*/
    --big-font-size: 3.5rem; /*= 56px =*/
    --h1-font-size: 3.5rem; /*= 56px =*/
    --h2-font-size: 2.25rem; /*= 36px =*/
    --h3-font-size: 1.5rem; /*= 24px =*/
    --normal-font-size: 1.125rem; /*= 18px =*/
    --small-font-size: 1rem; /*= 16px =*/
    --smaller-font-size: 0.875rem; /*= 14px =*/
    --smallest-font-size: 0.75rem; /*= 12px =*/

    /*========== Line height ==========*/
    --big-line-height: 4.375rem; /*= 70px =*/
    --h1-line-height: 4.375rem; /*= 70px =*/
    --h2-line-height: 2.5rem; /*= 40px =*/
    --h3-line-height: 1.5rem; /*= 24px =*/
    --normal-line-height: 1.5rem; /*= 24px =*/
    --small-line-height: 1.375rem; /*= 22px =*/
    --smaller-line-height: 1.1875rem; /*= 19px =*/
    --smallest-line-height: 1rem; /*= 16px =*/

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color-gray);
}

h1, h2, h3, h4 {
    color: var(--heading-color-black);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
    max-width: 93%;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.btn-main {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    line-height: var(--normal-line-height);
    color: var(--text-color-white);
    border: none;
    background: var(--primary-color);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: 0.4s linear;
}

.btn-main:hover {
    background: var(--btn-hover-color);
}

.btn-white {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    line-height: var(--normal-line-height);
    color: var(--primary-color);
    border: none;
    background: var(--body-color);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: 0.4s linear;
}

.btn-white:hover {
    background: var(--primary-color);
    color: var(--text-color-white);
}

/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--menu-background-color);
    backdrop-filter: blur(10px);
}

/*==================== NAV ====================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.nav__close {
    display: none;
    color: var(--primary-color);
}

.nav__logo, .nav__toggle {
    color: var(--primary-color);
}

.nav__logo {
    font-weight: var(--font-medium);
    line-height: var(--normal-line-height);
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__menu {
    position: relative;
}

.nav__menu-title {
    display: none;
}

@media screen and (max-width: 1010px) {
    .nav__menu {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        transition: 0.4s;
        padding: 80px 56px;
        background: var(--menu-background-color);
        backdrop-filter: blur(10px);
    }
}

.show-menu {
    left: 0;
}

.hidden-icon {
    display: none;
}

.show-icon {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:nth-child(3),
.nav__item:nth-child(5) {
    margin: 0 1.5rem;
}

.nav__item:nth-child(7) {
    margin-left: 6.0313rem;
    margin-right: 1rem;
}

.nav__link {
    color: var(--text-color-gray);
    font-weight: var(--font-regular);
    line-height: var(--normal-line-height);
    text-transform: capitalize;
    transition: 0.4s linear;
}

.nav__link:hover {
    color: var(--primary-color);
}

.languages span {
    font-weight: var(--font-medium);
    line-height: var(--normal-line-height);
    margin: 0 -0.625rem;
}

.lan {
    font-weight: var(--font-medium);
    line-height: var(--normal-line-height);
    color: var(--text-color-gray);
}

.active-lan {
    color: var(--primary-color);
}

.btn-user {
    display: none;
}

/*!=============== HOME ===============*/
.home {
    background: rgb(211,185,229);
    background: linear-gradient(45deg, rgba(211,185,229,1) 0%, rgba(209,206,246,1) 18%, rgba(255,255,255,1) 42%);
}

.home__container {
    height: 100vh;
    align-content: center;
    grid-template-columns: auto auto;
}

.home__data-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    line-height: var(--h1-line-height);
    color: var(--heading-color-black);
    margin: 120px 0 40px 0;
}

.home__data-form {
    display: flex;
    justify-content: space-between;
    width: 465px;
    background: var(--background-color);
    border-radius: 16px;
    transition: 0.4s linear;
    padding: 8px;
}

.home__data-form-input {
    width: 75%;
    background: var(--background-color);
    border-radius: 16px;
    border: none;
    padding: 20px 8px;
}

.home__data-form-input,
.home__data-form-input::placeholder {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: var(--normal-line-height);
    color: var(--text-color-gray);
}

.home__data-form-input:focus {
    outline: none;
}

.home__data-subtitle {
    font-size: var(--smallest-font-size);
    font-weight: var(--font-regular);
    line-height: var(--smallest-line-height);
    color: var(--text-color-grayer);
    margin: 16px 0 165px 0;
}

.home__data-subtitle .home__data-subtitle-info {
    color: var(--primary-color);
}

.home__data-subtitle .home__data-subtitle-info:hover {
    text-decoration: underline;
}

.home__data-text {
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    line-height: var(--small-line-height);
    color: var(--text-color-white);
}

.home__data-text span .mouse {
    font-size: 1.7rem;
    vertical-align: middle;

    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.home__cover {
    margin: auto 0;
}

/*=============== ADVANTAGES ===============*/
.advantages__container {
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 2.5rem;
}

.advantages__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: var(--h2-line-height);
    color: var(--text-color-black);
}

.advantages__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.advantages__card {
    border-radius: 20px;
    padding: 12px 24px 24px 24px;
    background: transparent;
    backdrop-filter: blur(20px);
    transition: 0.4s linear;
}

.advantages__card:hover {
    background: #ecdcf6;
    transform: scale(1.04);
}

.advantages__card-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: var(--h3-line-height);
    color: var(--text-color-black);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 16px;
}

.advantages__card-subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: var(--normal-line-height);
    color: var(--text-color-gray);
}

/*=============== ABOUT ===============*/
.about {
    background: rgb(253,197,220);
    background: linear-gradient(45deg, rgba(253,197,220,1) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 52%, rgba(209,206,246,0.4514180672268907) 71%, rgba(211,185,229,1) 100%);
}

.about__container {
    padding: 80px 0;
}

.about__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: var(--h2-line-height);
    color: var(--text-color-black);
    margin-bottom: 40px;
}

.about__content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about__data {
    margin: 0 auto;
}

.about__data-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: var(--h2-line-height);
    color: var(--text-color-black);
}

.about__data-subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: var(--normal-line-height);
    color: var(--primary-color);
    margin: 16px 0 24px 0;
}

.about__data-description {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: var(--normal-line-height);
    color: var(--text-color-gray);
    margin-bottom: 70px;
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (max-width: 1060px) {
    /* Navbar */
    .nav__item:nth-child(7) {
        margin: 0 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 1010px) {
    /* Navbar */
    .nav__menu-title,
    .nav__toggle {
        display: flex;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .nav__menu-title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        line-height: var(--h3-line-height);
        color: var(--text-color-gray);
    }

    .nav__item:nth-child(7),
    .nav__item:nth-child(3),
    .nav__item:nth-child(5) {
        margin: 0;
    }

    .nav__item:nth-child(2) {
        margin: 2.5rem 0 1.5rem 0;
    }

    .nav__item:nth-child(4) {
        margin: 1.5rem 0;
    }

    .nav__item:nth-child(6) {
        margin: 1.5rem 0 9.75rem 0;
    }

    .nav__link,
    .languages {
        font-size: var(--big-font-size);
        font-weight: var(--font-medium);
        line-height: var(--big-line-height);
    }

    .nav__link {
        color: var(--text-color-black);
    }

    .active-link {
        color: var(--primary-color);
    }

    .languages span {
        margin: 0 -2rem;
    }

    /* Advantages */
    .advantages__cards {
        flex-direction: column;
    }

    /* About */
    .about {
        background: rgb(253,197,220);
        background: linear-gradient(45deg, rgba(253,197,220,1) 2%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 45%, rgba(209,206,246,0.4514180672268907) 65%, rgba(211,185,229,1) 100%);
    }

    .about__content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    /* Home */
    .home__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        
        /* background: rgb(211,185,229); */
        /* background: linear-gradient(45deg, rgba(211,185,229,1) 0%, rgba(209,206,246,0.4514180672268907) 35%, rgba(255,255,255,1) 65%, rgba(255,255,255,0.6783088235294117) 100%); */
    }

    .home__data-text {
        display: none;
    }
    
    .home__data-subtitle {
        margin: 16px 0 0 0;
    }

    .home__cover {
        text-align: end;
        margin: -40px 0 60px 0;
    }
}

/* For medium devices */
@media screen and (max-width: 720px) {
    /* Advantages */
    .advantages__title {
        margin-left: 40px;
    }
}

/* For small devices */
@media screen and (max-width: 560px) {
    /* Navbar */
    .btn-login {
        padding: 9px 12px;
        border-radius: 24px;
    }

    .btn-login-text {
        display: none;
    }

    .btn-user {
        display: flex;
    }

    /* Home */
    .home__data-title {
        font-size: var(--h2-font-size);
        line-height: calc(var(--h2-line-height) + 5);
        margin: 120px 0 40px 0;
        padding: 0 20px;
    }

    .home__data-form {
        width: 320px;
        padding: 0 20px;
    }

    .home__data-form-input::placeholder {
        font-size: var(--smaller-font-size);
        line-height: var(--smaller-line-height);
    }

    .btn-send-email {
        font-size: var(--smaller-font-size);
        line-height: var(--smaller-line-height);
    }

    .home__data-subtitle {
        padding: 0 20px;
    }
    
    .home__cover {
        margin: 40px 0;
    }
}

@media screen and (max-width: 450px) {
    /* Navbar */
    .nav__menu {
        padding: 40px 20px;
    }

    .nav__item:nth-child(2) {
        margin: 1.5rem 0 1rem 0;
    }

    .nav__item:nth-child(4) {
        margin: 1rem 0;
    }

    .nav__item:nth-child(6) {
        margin: 1rem 0 16.875rem 0;
    }

    .nav__link,
    .languages {
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        line-height: var(--h2-line-height);
    }

    .languages span {
        margin: 0 -1.3rem;
    }
}

@media screen and (max-width: 375px) {
    /* Advantages */
    .advantages__container {
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 1.875rem;
    }

    .advantages__title {
        font-size: var(--normal-font-size);
        line-height: var(--normal-line-height);
    }

    .advantages__card-title {
        font-size: var(--normal-font-size);
        line-height: var(--normal-line-height);
    }

    .advantages__card-subtitle {
        font-size: var(--smaller-font-size);
        line-height: var(--smaller-line-height);
    }
    
    /* About */
    .about__container {
        padding: 40px 0;
    }

    .about__title {
        font-size: var(--normal-font-size);
        line-height: var(--normal-line-height);
        margin-bottom: 25px;
        padding: 0 20px;
    }

    .about__content {
        gap: 2.5rem;
    }

    .about__data {
        padding: 0 20px;
    }

    .about__data-title {
        font-size: var(--h3-font-size);
        line-height: var(--h3-line-height);
    }

    .about__data-subtitle {
        font-size: var(--smaller-font-size);
        line-height: var(--smaller-line-height);
        margin: 8px 0 16px 0;
    }
    
    .about__data-description {
        font-size: var(--smaller-font-size);
        line-height: var(--smaller-line-height);
        margin-bottom: 40px;
    }

    .btn-book {
        width: 100%;
    }
}

/*=============== ANIMATIONS ===============*/
@keyframes scroll {
    from {
        color: red;
        transform: translateY(20px);
    }
    to {
        color: blue;
        transform: translateY(-20px);
    }
}